<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Loggl</title>
        <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.0/dist/semantic.min.css" rel="stylesheet">
        <link href="/stylesheets/app.css" rel="stylesheet">
    </head>
    <body>

    <h1 class="blue ui block header segment">
        <i class="large sticky note icon"></i>
        <div class="content">
            Loggl
            <div class="sub header">Log stuff, yo.</div>
        </div>
    </h1>
        
    <!--</body>-->
<!--</html>-->